header {
    background-color: #c1d6e5;
    border-bottom: 1px solid #79747E;
}

.header__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
    padding: 8px;
}
