@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.pagination {
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;

  & button {
    @include button;
    font-size: 1em;
    padding: .3rem .5rem;
  }

  &__button__left {
    transform: rotate(180deg);
    margin-right: 5px;
  }

  &__text {
    margin-right: 5px;
  }
}