.wl__page {
  .container {
    width: 100%;
    padding: 0 3rem;    
  }

  &__content {
    margin-bottom: 10px;
  }

  @media (max-width: 768px) {
    .container {
      padding: 0 1rem;
    }
  }
}