@import '../../styles/variables.scss';

.sort__options {
  display: flex;
  flex-direction: column;
  margin-bottom: .8rem;
  padding-bottom: .8rem;
  border-bottom: 1px solid $primary-color;

  label {
    font-size: .85rem;
    margin-bottom: .5rem;
  }

  select {
    appearance: none;
    border: 1px solid $primary-color;
    padding: 10px;
    font-size: .85rem;
    cursor: pointer;
    position: relative;
    width: 100%;
    text-align: left;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px); 
    transition: all 0.2s ease;

    &:hover {
      background-color: $primary-color-hover;
    }
  }
}