$font-family: Arial, sans-serif;
$primary-color: #007BFF;
$primary-color-hover: #0056b3;
$success-color: #28a745;
$success-color-hover: #218838;
$color: #FFF;
$input-border: #DDD;
$delete-color: #e21111;
$delete-color-hover: #c82333;