@import '../../styles/mixins.scss';

.modal {
  display: flex;
  position: fixed;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.5);
  
  &__content {
    position: relative;
    max-width: 600px;
    width: 100%;
    max-height: calc(100vh - 40px);
    margin: auto;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);     padding: 20px;
  }
  
  &__close {
    @include button;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}
